.venv
.env
.mysql-data
custom-config
.mypy_cache
# Ignore Python cache directories
__pycache__/
**/__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd
.vscode

FinanceETL/.env
tradingapp/db.sqlite3

tooltip.json
info.md