{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  <title>Financial Dashboard</title>
</head>
<body>


  {% include 'myapp/navbar.html' %}

  <!-- Main Content -->
  <div class="container my-5">
      <!-- Header -->
      <div class="text-center mb-4">
          <h1 class="section-header">Financial Dashboard for {{ company_name }}</h1>
      </div>


  {% include 'myapp/financial_metrics.html' %}
  {% include 'myapp/data_tables/income_statement_table.html' %}
  {% include 'myapp/data_tables/financial_data_table.html' %}
  {% include 'myapp/data_tables/wb_data_table.html' %}
  {% include 'myapp/graph_section.html' %}

  </div>

  
  {% include 'myapp/footer.html' %}

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{% static 'myapp/js/script.js' %}"></script>
</body>
</html>
